@import "../../css/units.css";

.group {
    display: inline-flex;
    flex-direction: row; /* makes columns, for each label/form group */
    align-items: center;
    vertical-align: middle;
}

.level-icon {
    height:  2rem;
    display:none;
}

.level-select {
    width: 100%;
    height: 1.85rem;
    border: 1px solid #4c97ff;
    user-select: none;
    outline: none;
    background: rgba(255, 255, 255, 0.5);
    color: #3373cc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.level-select:focus {
    border: 1px solid white;
}
