.init {
    box-sizing: content-box;
    width: 1.25rem;
    height: 1.25rem;
    padding: 0.375rem;
    border-radius: 0.25rem;
    user-select: none;
    user-drag: none;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.init:hover {
    /* Scale flag image by 1.2, but keep background static */
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.25rem;
}

.init.is-active {
    background-color: rgba(0, 0, 0, 0.1);
}
